FirstProject/FirstApplication/FirstApplication/FirstApplication/bin/
FirstProject/FirstApplication/FirstApplication/FirstApplication/obj/
FirstProject/FirstApplication/FirstApplication/FirstApplication.Android/bin/
FirstProject/FirstApplication/FirstApplication/FirstApplication.Android/obj/
FirstProject/FirstApplication/FirstApplication/FirstApplication.iOS/bin/
FirstProject/FirstApplication/FirstApplication/FirstApplication.iOS/obj/
FirstProject/FirstApplication/FirstApplication/FirstApplication.UWP/bin/
FirstProject/FirstApplication/FirstApplication/FirstApplication.UWP/obj/